@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 60px;
font-style: normal;
margin-left: 5px;
}.flaticon-down53:before {
	content: "\e000";
}
.flaticon-loving4:before {
	content: "\e001";	
	text-align: center;
  color: hsl(13, 87%, 54%);
  animation: heartly 1s infinite;
  -webkit-animation: heartly 1s infinite;
  -moz-animation: heartly 1s infinite;
  -o-animation: heartly 1s infinite;

}

@keyframes heartly {
  0%, 100% {
    color: hsl(13, 87%, 54%)
  }
  50% {
    color: hsl(48, 87%, 54%)
  }
}

@-webkit-keyframes heartly {
  0%, 100% {
    color: hsl(13, 87%, 54%)
  }
  50% {
    color: hsl(48, 87%, 54%)
  }
}

@-moz-keyframes heartly {
  0%, 100% {
    color: hsl(13, 87%, 54%)
  }
  50% {
    color: hsl(48, 87%, 54%)
  }
}

@-o-keyframes heartly {
  0%, 100% {
    color: hsl(13, 87%, 54%)
  }
  50% {
    color: hsl(48, 87%, 54%)
  }
}
