.top{
  background: #eec00a;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.top h1{
  color:#fff;
  font-size: 75px;
  line-height: 1em;
  margin-left: 70px;
  margin-top: 80px;
  text-align: left;
}

.top p{
  color:#fff;
  font-size: 75px;
  line-height: 0.95em;
  margin-left: 70px;
  text-align: left;
}

.top img{
  position: absolute;
  bottom: 30px;
}