.top{
  background: #eec00a;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}

.top h1{
  font-size: 75px;
  line-height: 1em;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
}

.flaticon-down53{
position: fixed;
bottom: 30px;
text-align: center;
}

a:link {
    color: #FF0000;
}

/* visited link */
a:visited {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #f04b1f;
}

/* selected link */
a:active {
    color: #0000FF;
}